.bookings{
   display: flex;
   flex-direction: column;
   justify-content: center; /* Center the cards vertically */
   align-items: center; /* Center the cards horizontally */
   gap: 20px;
}

.bookings__container{
   background: none;
   border: 1px solid #ccc;
   border-radius: 5px;
   padding: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   min-width: 360px;
}