
.singleMeetingRoom__info {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 30px;
  gap: 36px;
  font-size: larger;
}

.singleMeetingRoom__info h3 {
  margin: 0; 
}

.singleMeetingRoom__capacity {
  display: flex;
  align-items: center;
  margin: 0 20px; 
}

.singleMeetingRoom__capacity span,
.singleMeetingRoom__info div span {
  margin-left: 5px; 
}

.bookMeetingRoomForm {
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
  }
  
  .bookMeetingRoomForm__container {
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
  }
  
  .bookMeetingRoomForm_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  
  .bookMeetingRoomForm__row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .bookMeetingRoomForm__col {
    flex-basis: 48%;
  }
  
  .bookMeetingRoomForm__col-full {
    flex-basis: 100%;
  }
  
  .bookMeetingRoomForm__startTime,
  .bookMeetingRoomForm__endTime,
  .bookMeetingRoomForm__attendees,
  .bookMeetingRoomForm__meetingRoom {
    height: 30px; 
    min-width: 60%;
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .bookMeetingRoomForm__label{
    font-weight: bold;
    font-size: 16px; 
  }
  
  .bookMeetingRoomForm button {
    /* background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; */
    margin-top: 20px;
    background-color: #1a0505;
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .bookMeetingRoomForm__innerContainer {
    margin: 10px;
  }

  .singleBooking{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   margin-bottom: 40px;
  }
  

  .singleBooking__container {
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 420px;
    text-align: left;
    transition: background-color 0.3s;
  
  }